form {
  display: grid;
  grid-template-columns: 1fr 1fr;

  h1 {
    grid-column: 1 / 3;
  }

  label {
    input {
      display: block;
    }

    select {
      display: block;
    }
  }
}

.in-valid {
  border-width: 1px;
  border-style: solid;
  border-color: #ff0000;
}

.alert {
  color: #ff0000;
}

.alert-green {
  color: green;
}