<form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
  <h1>{{ formHeader }}</h1>
  <label>
    Nazwa
    <input type="text"  class="form-control" formControlName="name"
    [ngClass]="{'in-valid': !myForm.controls['name'].valid && myForm.controls['name'].touched}">
    <b class="alert" *ngIf="!myForm.controls['name'].valid && myForm.controls['name'].touched">Wprowadź nazwę!</b>
  </label>
  <label>
    Opis
    <input type="text" class="form-control" formControlName="desc"
    [ngClass]="{'in-valid': !myForm.controls['desc'].valid && myForm.controls['desc'].touched}">
    <b class="alert" *ngIf="!myForm.controls['desc'].valid && myForm.controls['desc'].touched">Wprowadź opis!</b>
  </label>
  <label>
    Obrazek
    <input type="text" class="form-control" formControlName="iconUrl">
    <b class="alert-green" *ngIf="myForm.controls['iconUrl'].touched">Akurat obrazek jest zbędny ;)</b>
  </label>
  <label>
    ECTS
    <input type="text" class="form-control" formControlName="ects"
    [ngClass]="{'in-valid': !myForm.controls['ects'].valid && myForm.controls['ects'].touched}">
    <b class="alert" *ngIf="!myForm.controls['ects'].valid && myForm.controls['ects'].touched">Wprowadź wartość!</b>
  </label>
  <label>
    Semestr
    <input type="text" class="form-control"
            formControlName="semester"
            [ngClass]="{'in-valid': !myForm.controls['semester'].valid && myForm.controls['semester'].touched}">
    <b class="alert" *ngIf="!myForm.controls['semester'].valid && myForm.controls['semester'].touched">Wprowadź wartość!</b>
  </label>
  <label>
    Forma zajęć
    <select class="form-control" formControlName="classType" placeholder="[wybierz]"
    [ngClass]="{'in-valid': !myForm.controls['classType'].valid && myForm.controls['classType'].touched}">
      <option>wykład</option>
      <option>laboratorium</option>
      <option>projekt</option>
      <option>ćwiczenia</option>

    </select>
    <b class="alert" *ngIf="!myForm.controls['classType'].valid && myForm.controls['classType'].touched">Wybierz!</b>
  </label>
  <label>
    Miejsca
    <input type="text" class="form-control" formControlName="maxStudents"
    [ngClass]="{'in-valid': !myForm.controls['maxStudents'].valid && myForm.controls['maxStudents'].touched}">
    <b class="alert" *ngIf="!myForm.controls['maxStudents'].valid && myForm.controls['maxStudents'].touched">Wprowadź wartość!</b>
  </label>
  <label>
    Prowadzący
    <input type="text" class="form-control" formControlName="teacher"
    [ngClass]="{'in-valid': !myForm.controls['teacher'].valid && myForm.controls['teacher'].touched}">
    <b class="alert" *ngIf="!myForm.controls['teacher'].valid && myForm.controls['teacher'].touched">Wprowadź wartość!</b>
  </label>
  <button type="submit">Zatwierdź</button>
  <button *ngIf="editingId != -1" type="button" (click)="onEditCancelled()">Anuluj</button>
</form>