<form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
  <h1>{{ formHeader }}</h1>
  <label>
    Nazwa
    <input type="text" class="form-control" formControlName="name">
  </label>
  <label>
    Opis
    <input type="text" class="form-control" formControlName="desc">
  </label>
  <label>
    Obrazek
    <input type="text">
  </label>
  <label>
    ECTS
    <input type="text" class="form-control" formControlName="ects">
  </label>
  <label>
    Semestr
    <input type="text" class="form-control"
            formControlName="semester">
  </label>
  <label>
    Forma zajęć
    <select class="form-control" formControlName="classType" placeholder="[wybierz]">
      <option>wykład</option>
      <option>laboratorium</option>
      <option>projekt</option>
      <option>ćwiczenia</option>
    </select>
  </label>
  <label>
    Miejsca
    <input type="text" class="form-control" formControlName="maxStudents">
  </label>
  <label>
    Prowadzący
    <input type="text" class="form-control" formControlName="teacher">
  </label>
  <button type="submit">Zatwierdź</button>
  <button *ngIf="editingId != -1" type="button" (click)="onEditCancelled()">Anuluj</button>
</form>