:host {
  width: 100%;
}

.app-register-page {
  width: 100%;
  display: flex;
  justify-content: space-around;

  // Wszystkie moje bezpośrednie dzieci
  & > * {
      flex: 1 1 auto;
      margin: 0 50px;
  }
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;

  h1 {
    grid-column: 1 / 3;
  }

  label {
    input {
      display: block;
    }

    select {
      display: block;
    }
  }
}