<div class="app-register-page">
  <div>
      <app-search></app-search>
      <app-course-list></app-course-list>
  </div>
  <aside>
      <h1>UTWÓRZ KONTO</h1>
      <form>
        <label>
          Nazwa użytkownika:
          <input type="text">
        </label>
        <label>
          Adres e-mail:
          <input type="text">
        </label>
        <label>
          Hasło:
          <input type="text">
        </label>
        <label>
          Aktualny semestr:
          <input type="text">
        </label>
        <label>
          Zapoznałem się z regulaminem: 
          <select>
            <option value=null disabled>[wybierz]</option>
            <option>nie, ale zaznaczę "tak"</option>
          </select>
        </label>
        <label>
          Kradniemy twoje dane osobowe: 
        <select>
          <option value=null disabled>[wybierz]</option>
          <option>tak</option>
          <option>wiem</option>
          <option>trudno</option>
          <option>who cares anyway</option>
        </select>
      </label>
        <button type="submit">Zatwierdź</button>
      </form>
  </aside>
</div>