<div class="container">
    
    <section class="bg-dark page-section" id="pictures">

        <h1>REJESTRACJA</h1>
        <div class="container">
          <div class="row">
          <div class="row text-center pictures-item">
            <div class="col-md-4">
              <div class="pictures-caption">
              <h4 class="service-heading">Nazwa</h4>
              <div class="form-group">
                <input class="form-control" type="password" placeholder="nazwa">
              </div>
            </div>
            </div>
            <div class="col-md-4">
              <div class="pictures-caption">
              <h4 class="service-heading">Adres e-mail</h4>
              <div class="form-group">
                <input class="form-control" type="password" placeholder="e-mail">
              </div>
            </div>
            </div>
            <div class="col-md-4">
              <div class="pictures-caption">
              <h4 class="service-heading">Hasło</h4>
              <div class="form-group">
                <input class="form-control" type="password" placeholder="hasło">
              </div>
            </div>
            </div>
          </div>
          <div class="row text-center pictures-item">
            <div class="col-md-4">
                <div class="pictures-caption">
                <h4 class="service-heading">Powtórz hasło</h4>
                <div class="form-group">
                  <input class="form-control" type="password" placeholder="hasło">
                </div>
              </div>
              </div>
            <div class="col-md-4">
              <div class="pictures-caption-long">
              <h4>Kradniemy Twoje dane osobowe</h4>
              <div class="form-group">
                <select class="form-control">
                  <option>tak</option>
                  <option>wiem</option>
                  <option>trudno</option>
                  <option>who cares anyway</option>
                </select>
              </div>
            </div>
          </div>
          </div>
          <div class="row text-center picture-item">
            <div class="col-md-4">
              <div class="pictures-caption">
              <button type="submit">Ależ wspaniale, że mogę posiadać takie cudowne konto!</button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </section>
</div>