<div class="app-login-page">
  <div>
      <app-search></app-search>
      <app-course-list></app-course-list>
  </div>
  <aside>
      <h1>ZALOGUJ SIĘ</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <label>
          Email:
          <input type="email" class="formControl" formControlName="email" required>
        </label>
        <label>
          Hasło:
          <input type="password" class="formControl" formControlName="password" required>
        </label>
        <button type="submit" class="button" value="Log in" (click)="authService.LogIn(userName.value, userPassword.value)">Zaloguj się</button>
      </form>
  </aside>
</div>