<body id="page-top" *ngFor = "let course of coursesArray; index as idx"
[style.background-color]="idx % 2 == 0 ? '#bcbfc2' : '#dadada'">

  <!-- Kurs  --->

  <section class="page-section" id="pictures">

    <div class="container">
      <div class="row">
      <div class="row text-center pictures-item">
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">{{ course.name }}</h4>
          <p class="text-muted">{{ course.iconUrl }}</p>
        </div>
        </div>
        <div class="col-md-4">
          <div class="pictures-caption-long">
          <h4 class="service-heading">Opis</h4>
          <p class="text-muted">{{ course.desc }}</p>
        </div>
        </div>
      </div>
      <div class="row text-center pictures-item">
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">ECTS</h4>
          <p class="text-muted">{{ course.ects }}</p>
        </div>
        </div>
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">Semestr</h4>
          <p class="text-muted">{{ course.ects }}</p>
        </div>
      </div>
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">Forma zajęć</h4>
          <p class="text-muted">{{ course.classType }}</p> <!--ćwiczenia, lab, projekt, wykład-->
          </div>
        </div>
      </div>
      <div class="row text-center pictures-item">
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">Miejsca</h4>
          <p class="text-muted">{{ course.maxStudents }}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">Aktualna ocena</h4>
          <p class="text-muted">{{ course.rating }}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">Prowadzący</h4>
          <p class="text-muted">{{ course.teacher }}</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

</body>