<body id="page-top">

  <!-- Kurs 1 -->
  <section class="bg-dark page-section" id="pictures">

    <div class="container">
      <div class="row">
      <div class="row text-center pictures-item">
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">NAZWA KURSU</h4>
          <p class="text-muted">Jakiś avatar może</p>
        </div>
        </div>
        <div class="col-md-4">
          <div class="pictures-caption-long">
          <h4 class="service-heading">Opis</h4>
          <p class="text-muted">Dużo tekstu dlaczego nie warto studiować</p>
        </div>
        </div>
      </div>
      <div class="row text-center pictures-item">
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">ECTS</h4>
          <p class="text-muted">Liczba pktów ECTS</p>
        </div>
        </div>
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">Semestr</h4>
          <p class="text-muted">[cyfra]</p>
        </div>
      </div>
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">Forma zajęć</h4>
          <p class="text-muted">np. wykład</p> <!--ćwiczenia, lab, projekt, wykład-->
          </div>
        </div>
      </div>
      <div class="row text-center pictures-item">
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">Miejsca</h4>
          <p class="text-muted">[przyjmujemy, że każdy kurs jest obieralny]</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">Aktualna ocena</h4>
          <p class="text-muted">ten kurs nie został jeszcze oceniony</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">Prowadzący</h4>
          <p class="text-muted">dane prowadzącego</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

  <!-- Kurs 2 -->
  <section class="bg-light page-section" id="pictures">

    <div class="container">
      <div class="row">
      <div class="row text-center pictures-item">
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">NAZWA KURSU</h4>
          <p class="text-muted">Jakiś avatar może</p>
        </div>
        </div>
        <div class="col-md-4">
          <div class="pictures-caption-long">
          <h4 class="service-heading">Opis kursu</h4>
          <p class="text-muted">Dużo tekstu</p>
        </div>
        </div>
      </div>
      <div class="row text-center pictures-item">
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">ECTS</h4>
          <p class="text-muted">Liczba pktów ECTS</p>
        </div>
        </div>
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">Semestr</h4>
          <p class="text-muted">[cyfra]</p>
        </div>
      </div>
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">Forma zajęć</h4>
          <p class="text-muted">np. wykład</p> <!--ćwiczenia, lab, projekt, wykład-->
          </div>
        </div>
      </div>
      <div class="row text-center pictures-item">
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">Max. liczba studentów</h4>
          <p class="text-muted">[przyjmujemy, że każdy kurs jest obieralny]</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">Aktualna ocena kursu</h4>
          <p class="text-muted">ten kurs nie został jeszcze oceniony</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pictures-caption">
          <h4 class="service-heading">Prowadzący</h4>
          <p class="text-muted">dane prowadzącego</p>
          </div>
        </div>
      </div>
      </div>
    </div>  
  </section>

</body>