<ul class="app-course-list">
  <!-- Kurs  --->
  <li class="course" *ngFor="let course of coursesArray; index as idx">
    <div class="basic-info">
      <img class="course-icon" src="{{ course.iconUrl }}" />
      <h1 class="course-name">{{ course.name }}</h1>
      <button (click)="onCourseOpened(course.id)">Więcej info</button>
      <button (click)="onCourseEdited(course.id)" *ngIf="this.role=='admin'">Edytuj</button>
      <button *ngIf="this.role=='admin'" (click)="onCourseDeleted(course.id)">Usuń</button>
    </div>
    <div class="{{ openedCourseId == course.id ? 'more-info open' : 'more-info' }}">
      <p class="field-desc">{{course.desc}}</p>
      <p class="field-ects">ECTS: {{course.ects}}</p>
      <p class="field-semester">Semestr: {{course.semester}}</p>
      <p class="field-classType">Rodzaj zajęć: {{course.classType}}</p>
      <p class="field-maxStudents">Limit miejsc: {{course.maxStudents}}</p>
      <p class="field-rating">Aktualna ocena: {{course.rating}}</p>
      <p class="field-teacher">Prowadzący: {{course.teacher}}</p>
      <app-course-details *ngIf="this.role=='student'"></app-course-details>
    </div>
  </li>
</ul>