<div class="container-fluid">
<div class="row">

<main class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="inner-adjust">
  
      <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Gratuluję pomyślnego zalogowania!</h1>
      </div>
      
      <div class="row">
        <div class="col-md-12">
        <h1>Twoje dane: <strong>{{user.displayName}}</strong></h1>
          <p>ID: <strong>{{user.uid}}</strong></p>
          <p>Email: <strong>{{user.email}}</strong></p>
        </div>
      </div>
    </div>
</main>
  
</div>
</div>