<a [routerLink]="['/']">
    <h1>Ocenianie kursów</h1>
</a>

<div class="log-in-out" *ngIf="this.role == 'student'">
  <p>Jesteś zalogowany jako student</p>
  <button class="button" routerLink="/dashboard" routerLinkActive="selected-link">Mój profil</button>
  <button class="button" (click)="this.logOut()">Wyloguj się</button>
</div>

<div class="log-in-out" *ngIf="this.role == 'admin'">
  <p>Jesteś zalogowany jako administrator</p>
  <button class="button" routerLink="/dashboard" routerLinkActive="selected-link">Mój profil</button>
  <button class="button" (click)="this.logOut()">Wyloguj się</button>
</div>

<div class="log-in-out" *ngIf="this.noAccount == true">
  <a routerLink="/login" routerLinkActive="selected-link" class="button">Logowanie</a>
  <a routerLink="/rejestracja" routerLinkActive="selected-link" class="button">Rejestracja</a>
</div>