<a [routerLink]="['/']">
    <h1>Ocenianie kursów</h1>
</a>

<div class="log-in-out" *ngIf="isStudent()">
  <p>Jesteś zalogowany jako student</p>
  <a class="button">Wyloguj się</a>
</div>

<div class="log-in-out" *ngIf="isAdmin()">
  <p>Jesteś zalogowany jako administrator</p>
  <a class="button">Wyloguj się</a>
</div>

<div class="log-in-out" *ngIf="noAccount()">
  <a routerLink="/login" routerLinkActive="selected-link" class="button">Zaloguj się</a>
  <a routerLink="/rejestracja" routerLinkActive="selected-link" class="button">Zarejestruj się</a>
</div>